@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap');
:root {
  --alt-text-color: #d3dedd;
  --text-color: #9a9da8;
  --background: #161a27;

  --primary: #6193ef;
  --secondary: #54dd72;
  --tertiary: #f04250;
  --quarternary: #e5c07b;
}


/*Default styles*/
html {
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: var(--background);
  overflow-x: hidden;
}

h2, h3, p, a {
  color: var(--text-color);
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  color: var(--alt-text-color);
  font-size: 3.5em;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  font-size: 2.9em;
}

h3 {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 2.5em;
}

p {
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40vh;
}

section {
  max-width: 70vw;
}



.bold {
  color: var(--tertiary);
}

/*Nav styles*/
nav {
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  column-gap: 1em;
}

#social-links {
  margin-left: auto;
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
}

.social-icon {
  width: 2em;
  height: auto;
}

.social-link {
  text-decoration: none;
}

#header {
  width: 100dvw;
  height: calc(100vh - 12rem);

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;


}

/*Greeting styles*/
#intro {
  margin: 0;
  font-size: 1.3em;
  color: var(--primary);
  font-family: 'Ubunto Mono', monospace;
}

#name {
  margin: 0;
  margin-top: 0.3em;
}

#subheading {
  color: var(--text-color);
  margin: 0;
  margin-top: 0.4em;
  max-width: 25ch;
}

#prog {
  background: -webkit-linear-gradient(0deg, var(--secondary), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#math {
  background: -webkit-linear-gradient(0deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#music {
  background: -webkit-linear-gradient(0deg, var(--tertiary), var(--quarternary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#bottom-text {
  max-width: 60ch;
}


/*About section styles*/
.text {
  max-width: 70ch;
}

#about {
  display: flex;
  width: 70dvw;
  align-items: center;
  justify-content: space-between;
}

#about h3 {
  color: var(--primary);
}

#picture-wrapper {
  width: 300px;
  height: 300px;

  display: block;

  border: 0.2rem var(--secondary) solid;
}

#picture-wrapper > img {
  max-width: 300px;
  max-height: 300px;

  
  position: relative;
  top: -1rem;
  left: -1rem;
}

