@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap');
:root {
  --alt-text-color: #cbd8d7;
  --text-color: #9a9da8;
  --background: #161a27;
  --alt-background: #262d41;
  --sublayer: #181d2b;

  --primary: #6193ef;
  --secondary: #54dd72;
  --tertiary: #f04250;
  --quarternary: #e5c07b;

  --fs-50: 1.3rem;
  --fs-100: 1.5rem;
  --fs-200: 2rem;
  --fs-300: 2.5rem;
  --fs-400: 3rem;
  --fs-500: 3.5rem;
  
  --number-of-characters: 20;
}


/*Default styles*/
html {
  margin: 0;
  padding: 0;
  scroll-behavior:smooth
}

body {
  width: 100dvw;
  height: 100%;
  padding: 0;
  margin: 0;

  /*background-image: url(./assets/j8lnlq63wot71.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/

  background-color: var(--background);
  overflow-x: hidden;
}


h2, h3, p {
  color: var(--text-color);
}

h1 {
  color: var(--alt-text-color);
  font-size: var(--fs-500);
  font-family: 'Ubuntu', sans-serif;

  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

h2, h3, h4 {
  font-family: 'Ubuntu Mono', monospace;
  color: var(--text-color);
}

h2 {
  font-size: var(--fs-400);
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: var(--fs-300);
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: var(--fs-200);
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}


p {
  font-size: var(--fs-100);
  font-family: 'Ubuntu', sans-serif;
  white-space: balance;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40vh;
  counter-reset: section;
}

/*Section Styles*/
section {
  width: 60vw;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;

  /*background-color: #161a27be;
  backdrop-filter: blur(10px);*/
}

.content-section h2, h3, h4 {
  font-weight: 400;
  color: var(--alt-text-color);
  position: relative;
}

.content-section h2::before {
  counter-increment: section;
  color: var(--primary);
  font-size: 0.6em;
  content: "0" counter(section) ". ";
  position: relative;
  top: -5px; /* Vertically center the numbering */
}


.bold {
  color: var(--alt-text-color);
  font-weight: 500;
}

/*Nav styles*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem 0.3rem 1rem;

  /*background-color: #161a27be;
  backdrop-filter: blur(10px);*/
}

#menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  column-gap: 1em;
}

.link {
  color: var(--alt-text-color);
  display: inline-block;
  font-size: 1.7rem !important;
  text-decoration: none !important;
  position: relative;
  
  font-family: 'Ubuntu Mono', monospace !important;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: all 200ms ease-out;
}

.link:hover {
  transform: translateY(-10%);
  color: var(--primary);
  
}

#logo {
  width: 5em;
  padding: 0;
  margin: 0;
}




.social-link {
  text-decoration: none;
  width: 2em !important;
}

/* DEfault section styles */

/*Greeting styles*/

#header {
  height: calc(100vh - 12rem);

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  margin-left: 3rem;
}

#intro {
  margin: 0;
  font-size: 1.3em;
  color: var(--primary);
  font-family: 'Ubunto Mono', monospace;
  /*animation: fade-down 1s ease;*/
}

#name {
  position: relative;
  display: inline-block;
  font-family: 'Ubuntu Mono', monospace;
}

#name::before, #name::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#name::before {
  background: var(--background);
  opacity: 1;
  -webkit-animation: typewriter 2s steps(var(--number-of-characters)) 0.5s forwards;
          animation: typewriter 2s steps(var(--number-of-characters)) 0.5s forwards;
}
#name::after {
  width: 3px;
  background: var(--alt-text-color);
  -webkit-animation: typewriter 2s steps(var(--number-of-characters)) 0.5s forwards,
    blink 1.3s steps(var(--number-of-characters)) infinite;
          animation: typewriter 2s steps(var(--number-of-characters)) 0.5s forwards,
    blink 1.3s steps(var(--number-of-characters)) infinite;
}
@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@-webkit-keyframes blink {
  0%  {background: var(--alt-text-color);}
  49%  {background: var(--alt-text-color);}
  50%  {background: transparent;}
  100%  {background: transparent;}
}
@keyframes blink {
  0%  {background: var(--alt-text-color);}
  49%  {background: var(--alt-text-color);}
  50%  {background: transparent;}
  100%  {background: transparent;}
} 

#subheading {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  margin-top: 0.4em;
  max-width: 25ch;
  /*animation: fade-down 1s ease;
  animation-delay: 0.2s;*/
}

#prog {
  background: -webkit-linear-gradient(0deg, var(--secondary), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#math {
  background: -webkit-linear-gradient(0deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#music {
  background: -webkit-linear-gradient(0deg, var(--tertiary), var(--quarternary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#bottom-text {
  max-width: 60ch;
  /*animation: fade-down 1s ease;
  animation-delay: 0.3s;*/
}

#hero {
  width: 20em;
 /* animation: fade-down 1s ease;
  animation-delay: 0.1s;*/
}

#logo-shape-1, #logo-shape-2  {
  transition: transform 200ms ease;
}

#hero:hover {
  #logo-shape-1 {
    transform: translate(-5%, 2%);
  }

  #logo-shape-2 {
    transform: translate(5%, -2%);
  }
}

#logo {
  padding: 0;
  margin: 0;
}

#logo-nav-shape-1, #logo-nav-shape-2  {
  transition: transform 200ms ease;
}

#logo:hover {

  #logo-nav-shape-1 {
    transform: translate(-5%, 2%);
  }

  #logo-nav-shape-2 {
    transform: translate(5%, -2%);
  }
}


/*About section styles*/


#about-text {
  max-width: 100%;
}

#about li {
  list-style: none;
  font-size: var(--fs-50);
  color: var(--text-color);
  font-family: 'Ubuntu', sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 0.3rem;
}

#about li::before {
  content: '';
  display: inline-block;
  height: var(--fs-50);
  width: var(--fs-50);
  background-image: url('./assets/list-style.svg');
  background-size: contain;
  transform: translateY(0.2rem);
}

#about ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  max-width: 20vw
}

#picture-wrapper {
  width: 250px;
  height: 250px;

  margin-top: 1rem;
  margin-left: 2rem;
  float: right;

  background: var(--alt-background);
  border: 0.2rem var(--alt-background) solid;
  transition: transform 200ms ease-out;
}

#picture-wrapper > img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -1rem;
  left: -1rem;
  
  box-shadow: 0.5rem 0.5rem 15px var(--background);
  background: linear-gradient(45deg, var(--alt-background), var(--tertiary));
  background-size: 400% 400%;
  backdrop-filter: multiply;
  transition: 200ms ease-out;
}

#picture-wrapper:hover {
  transform: translate(5%, 5%);
  > img {
    top: -2rem;
    left: -2rem;
  }
}

/* Education Section */

.cards {
  display: grid;
  grid-template-columns: 17% 1fr;
  grid-auto-rows: auto;
  row-gap: 1rem;
}


.card-title {
  min-width: 100%;
  position: relative;
  z-index: -1;
}

.card-title::after {
  content: "";
  position: absolute;
  grid-column: 1 / 2;
  left: 0;
  right: 0;
  top: calc(6rem + var(--fs-100));

  width: 3px;
  height: 83%;
  margin: 0 auto;
  background: var(--alt-background);
}

.card-title:nth-last-child(2)::after {
  display: none;
}

.card-title-text {
  color: var(--alt-text-color);
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--fs-100);
  width: 100%;
  height: fit-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  text-align: center;

  margin-top: 3rem;
 

  white-space: nowrap;
  background-color: var(--alt-background);
  border-radius: 0.5rem 0 0 0.5rem;
}

.card-content {
  max-width: 100%;
  padding: 1rem;
  padding-left: 1.5rem;
  background-color: var(--sublayer);
  border: 2px solid var(--alt-background);
  border-radius: 1rem;
  line-height: 2.5rem;
}

#projects:nth-child(1) {
  margin-top: 3rem;
}

.project {
  display: flex;
  position: relative;

  margin-bottom: 5rem;
}


.project img {
  
  max-width: 60% !important;
  border-radius: 0.5rem !important;
  display: inline-block !important;
  transition: transform 300ms ease-out !important;
}

.project a {
	color: var(--text-color);
	text-decoration: none;
	font-size: var(--fs-50);
	font-family: 'Ubuntu', sans-serif;
	position: inline-block;
	display: flex;
	justify-content: center;
	transition: 200ms ease-out;
	align-items: center;
}

.project a>svg {
	transition: 200ms ease-out;
}

.project a:hover {
	color: var(--primary);
	> svg {
		stroke: var(--primary);
	}
}

#project1-text {
  max-width: 50%;
  height: fit-content;

  position: absolute;
  transform-origin: center right;
  transform: translate(80%, 40%);

  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  background: var(--background);
  box-shadow: 0 1rem 2rem black;

  border-radius: 1rem;
  border: 2px solid var(--sublayer);
  transition: transform 300ms ease-out;
}

.project:hover {
  #project1-text {
    transform: translate(100%, 40%);
  }

  > img {
    transform: translate(-10%, 0%);
  }
}

#project2 {
  width: 100%;
  height: 100%;
}



#project2-text {
  max-width: 50%;
  height: fit-content;
  position: absolute;

  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  background: var(--background);
  box-shadow: 0 1rem 2rem black;

  transform: translate(0, 20%);

  border-radius: 1rem;
  border: 2px solid var(--sublayer);
  transition: transform 300ms ease-out;
}

#project2-img {
  max-width: 60% !important;
  border-radius: 0.5rem !important;
  display: inline-block !important;
  transition: transform 300ms ease-out !important;

  transform: translateX(70%);
  z-index: -1;
}

#project2:hover {
  
  #project2-text {
    transform: translate(-20%, 20%);
  }

  #project2-img {
    transform: translateX(80%);
  }
}

#side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding: 0;
  margin: 0;
}


#side-menu li {
  list-style-type: none;
  padding: 1rem;
}

#side-menu li {
  list-style-type: none;
  padding: 1rem;
  transition: transform 200ms ease-out;
}

.icon {
  transition: stroke 200ms ease-out;
}

#side-menu  li:hover{
  transform: translateY(-10%);
  .icon {
    stroke: var(--primary);
  }
}

.line {
  background: var(--alt-background);
  height: 280px;
  width: 1px;
  margin: 0 auto;
  margin-left: 4.5rem;
}


#contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact a {
	text-decoration: none;
	font-size: var(--fs-100);
	color: var(--secondary);
	padding: 1rem;
	padding-left: 2rem;
	paddding-right: 2rem;
	
	border: 2px solid var(--secondary);
	border-radius: 20px;
	
	text-align: center;
	font-family: 'Ubuntu Mono', monospace;
	
	margion-top: 3rem;
	margin-bottom: 3rem;
	
	display: inline-block;
	
	transition: 200ms ease-out;
}

#contact a:hover {
	box-shadow: 0 0 2rem var(--secondary);
	transform: scale(1.05);
}

#contact h1 {
	margin-bottom: 5rem;
}


.blue {
color: var(--primary);
}