@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap');
:root {
  --alt-text-color: #bcc7c6;
  --text-color: #9a9da8;
  --background: #161a27;
  --alt-background: #262d41;
  --sublayer: #333949;

  --primary: #6193ef;
  --secondary: #54dd72;
  --tertiary: #f04250;
  --quarternary: #e5c07b;
}


/*Default styles*/
html {
  margin: 0;
  padding: 0;
  scroll-behavior:smooth
}

body {
  width: 100dvw;
  height: 100%;
  padding: 0;
  margin: 0;

  background-color: var(--background);
  overflow-x: hidden;
}

h2, h3, p, a {
  color: var(--text-color);
}

h1 {
  color: var(--alt-text-color);
  font-size: 3.5em;
  font-family: 'Ubuntu', sans-serif;

  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

h2, h3, h4, a {
  font-family: 'Ubuntu Mono', monospace;
  color: var(--text-color);
}

h2 {
  font-size: 2.9em;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 2.5em;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 2em;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}


p {
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40vh;
}

/*Section Styles*/
section {
  min-width: 70vw;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: left;
}

section h2, h3, h4 {
  font-weight: 400;
  color: var(--alt-text-color);
  position: relative;
  
}

section h2>span {
  color: var(--primary);
}


.bold {
  color: var(--alt-text-color);
  font-weight: 500;
}

/*Nav styles*/
nav {
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem 0.3rem 1rem;
}

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  column-gap: 1em;
}

#logo {
  width: 5em;
  padding: 0;
  margin: 0;
}

#social-links {
  margin-left: auto;
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
}

.social-icon {
  width: 2em;
  height: auto;
}

.social-link {
  text-decoration: none;
}

/* DEfault section styles */

/*Greeting styles*/

#header {
  width: 100dvw;
  height: calc(100vh - 12rem);

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;

  background: none;
}

#intro {
  margin: 0;
  font-size: 1.3em;
  color: var(--primary);
  font-family: 'Ubunto Mono', monospace;
}

#subheading {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  margin-top: 0.4em;
  max-width: 25ch;
}

#prog {
  background: -webkit-linear-gradient(0deg, var(--secondary), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#math {
  background: -webkit-linear-gradient(0deg, var(--primary), var(--tertiary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#music {
  background: -webkit-linear-gradient(0deg, var(--tertiary), var(--quarternary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#bottom-text {
  max-width: 60ch;
}


/*About section styles*/

#about {
  display: flex;
  width: 70dvw;
  justify-content: space-between;
}

#about-text {
  max-width: 70ch;
}

#picture-wrapper {
  width: 15vw;
  height: 15vw;

  margin-top: 6rem;

  display: block;

  background: var(--alt-background);
  border: 0.2rem var(--alt-background) solid;
}

#picture-wrapper > img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -1rem;
  left: -1rem;
  
  box-shadow: 0.5rem 0.5rem 15px var(--background);
  background: linear-gradient(45deg, var(--alt-background), var(--tertiary));
  background-size: 400% 400%;
}